@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url(//db.onlinewebfonts.com/c/e662339992c4abf5b43f537391bd3169?family=Candara);

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inder';
    font-style: normal;
}

.container-main {
    display: grid;
    grid-template-columns: 0.6fr 3fr;
    grid-template-rows: repeat(2, minmax(120px, auto));
    text-align: center;
}

.side-content {
    min-height: 100vh;
    background-color:#1F222D;
}

.logo-1 {
    margin-top: 50px;
    justify-content: flex-start;
    margin-right: 120px;
}

/* #logo-1 {
   margin-top: 68px;

} */


.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    height: 60%;
    color: #1E2833;
    margin-bottom: auto;
}





.socials div {
    display: flex;
    width: 70%;
    align-items: center;
    /* justify-content: flex-start; */
}

.sidebar-links {
    /* display: block; */
    width: 100%;
    text-decoration: none;
    color:#fff;
}



.sidebar-item {
    margin-bottom: 60px;
    height: 45px;
    margin-left: 25px;
}

.iconify {
    height: 20px;
    width: 50px;
    /* margin-right: 10px; */
}

.main-content {
    min-height: 100vh;
    background-color: #F3F3F3;
    padding-right: 15%;
    padding-bottom: 80px;
}

.main-container {
    padding: 85px 20px 0;
    margin: 0 auto;
    width: 80%;
    text-align: left;
}

.sidebar-item .main-heading {
    color: #38807A;
}

.login-info {
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: #2F6A66;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

input[type="email"], input[type="password"], input[type="tel"] {
    font-family: 'Work Sans';
    padding: 15px 20px;
    margin-top: 17px;
    margin-bottom: 40px;
    border: 1px solid #1E2833;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.02em;
    text-align: left;
}

label {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.02em;
}

.page-bottom-items {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin-top: 20px;
}

.page-bottom-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.sections-mb {
    margin-bottom: 40px;
}

.delete-account {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #981414;
}

button:hover {
    transition: 0.5s;
    box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.41);
    -webkit-box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px -1px 17px 0px rgba(0,0,0,0.41);
}

.page-bottom-btn {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #2F6A66;
    border-radius: 10px;
    width: 115px;
    height: 50px;
    background-color: #fff;
}

p.small-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

/* styling of the footer */

footer {
    background-color: #1F4744;
    height: 600px;
    width: 100%;
    color: #fff;
    padding-top: 65px;
    grid-column: 1/4;
    grid-row: 2/3;
}

.footer-container {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
}

.footer-header {
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 35px;
}

.footer-item  {
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 10px;
    margin-top: 20px;
    margin-right: 40px;
    /* margin:55px  auto; */
}

.footer-item1 {
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    margin-top: 10px;
}
#platform {
    line-height: 25px;
    font-size: 20px;
    
}

.footer-list a {
    color: #fff;
    list-style: none;
    text-decoration: none;
}

.about {
    /* position: relative; */
    margin-top: 50px;

}


 .company-logo {
    width: 150px;
    margin-right: 92px;
 }
    


/*  */

.fa {
    color: #fff;
    margin-right: 30px;
}

.align-footer {
    padding-top: 57px;
    /* display: flex; */
    /* flex-direction: row; */
}

/* STYLING OF THE NAV */
#drop-down{
    color: var(--clr-content);
    height: 3rem;
    width: 3rem;
    display: inline-flex;
}
#drop-btn{
    display: flex;
    gap: 0;
    align-items: center;
}

